@import '../../style/settings.scss';

.container  {
    max-width: 1200px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    background-color: $color-dark;
}
body {
    background-color: $color-dark;
}